:root {
    --accent-color: #2E2F42;
    --primery-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primery-color: #404BBF;
    --secondary-color: #434455;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }
  body {
    font-family: var(--primery-font);
    font-size: 16px;
    font-weight: 500;
    color: #434455;
    background-color: #FFFFFF;
  
  }
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #121212;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 24px;
    transition: transform 250ms var(--cubic);
    
  }
  .modal-close {
    fill: currentColor;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    /* background-color: #E7E9FC; */
    color: #F6F6F6;
    /* border: 1.8px solid #F7F7F7; */
    display: block;
    margin-left: auto;
    /* margin-bottom: 24px; */
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
  }
  .button-x {
    margin: auto;
    display: block;
    justify-content: center;
    
  }
  .modal-title {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 1.36;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    font-style: normal;
    margin-bottom: 40px;
  }
  .modal-input-title {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    font-style: normal;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .modal-input {
    display: flex;
    align-items: flex-start;
    padding: 18px;
    width: 287px;
    height: 36px;
    flex-direction: column;
    color: #F7F7F7;
    background: #121212;
    border: none;
    border-bottom: 1px solid rgba(247, 247, 247, 0.2);    
    margin-bottom: 8px;
  }
  .modal-field {
    
  }
  .modal-input-text {
    position: absolute;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    font-style: normal;
  }
  .modal-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #D8D7D7;
    font-style: normal;
  }
  .modal-btn-form {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    background: #121212;
    font-style: normal;    
  }
  .button {
    padding: 0;
    /* position: absolute; */
    width: 235px;
    height: 46px;
    left: 50px;
    top: 442px;
    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    margin-top: 40px;
  }